<!DOCTYPE html> <html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/>
</head>
<body>
  <div class="weui_cells_title">排行榜</div>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <img src="http://mmrb.github.io/avatar/jf.jpg" alt="" class="cover" />
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <h2 class="title">昵称<span class="type">1</span></h2>
            <p class="metas">
                <span class="meta">总收益额：</span>
                <span class="meta">总收益率：</span>
                <span class="meta">回撤率：</span>
            </p>
        </div>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <img src="http://mmrb.github.io/avatar/jf.jpg" alt="" class="cover" />
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <h2 class="title">昵称<span class="type">2</span></h2>
                <p class="metas">
                    <span class="meta">总收益额：</span>
                    <span class="meta">总收益率：</span>
                    <span class="meta">回撤率：</span>
                </p>
            </div>
        </div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <img src="http://mmrb.github.io/avatar/jf.jpg" alt="" class="cover" />
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <h2 class="title">昵称<span class="type">3</span></h2>
                    <p class="metas">
                        <span class="meta">总收益额：</span>
                        <span class="meta">总收益率：</span>
                        <span class="meta">回撤率：</span>
                    </p>
                </div>
            </div>
</div>
</body>
</html>
