<!DOCTYPE html> <html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/>
</head>
<body>
  <div class="weui-grids">
      <a href="javascript:;" class="weui-grid">
          </div>
          <p class="weui-grid__label">
              排行
          </p>
      </a>
      <a href="javascript:;" class="weui-grid">
          </div>
          <p class="weui-grid__label">
              总收益
          </p>
      </a>
      <a href="javascript:;" class="weui-grid">
          </div>
          <p class="weui-grid__label">
              总收益率
          </p>
      </a>
  </div>
</body>
</html>
