<!DOCTYPE html> <html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/>
</head>
<body>
  <div class="weui_cells_title">排行榜</div>
<div class="weui_cells">
   <div class="weui_cell">
       <div class="weui_cell_bd weui_cell_primary">
           <p>收益率</p>
       </div>
       <div class="weui_cell_ft">
           说明文字
       </div>
   </div>
</div>
<div class="weui-cells__title">带说明的列表项</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>标题文字</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </div>
</body>
</html>
